.photo {
  float: left;
  margin-right: 2em;
  max-width: 290px;
  height: auto;
}

@media screen and (max-width: 580px) {
  .photo {
    float: none;
    max-width: 100%;
  }
}

.hide {
  display: none;
}

.contacts {
  margin-top: 40px;
  margin-bottom: 40px;
}

@media screen and (max-width: 580px) {
  .contacts {
    margin: 0;
  }
}

thead {
  display: none;
}

table {
  margin-top: 1em;
}

td {
  padding-bottom: 1em;
  vertical-align: top;
}

tr > td:first-child {
  color: #5e8cde;
  width: 8.75em;
}
